<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
		<aspNetCore processPath="dotnet" arguments=".\Business.Web.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production"/>
				<environmentVariable name="DatabaseMigration__ApplyOnStartup" value="false"/>
				<environmentVariable name="Email__Smtp__Host" value="bahadirkestane.com.tr"/>
				<environmentVariable name="Email__Smtp__Port" value="465"/>
				<environmentVariable name="Email__Smtp__EnableSsl" value="true"/>
				<environmentVariable name="Email__Smtp__UserName" value="support@bahadirkestane.com.tr"/>
				<environmentVariable name="Email__Smtp__Password" value="DEPmTWvZzCn7.DD"/>
				<environmentVariable name="Email__Smtp__FromEmail" value="support@bahadirkestane.com.tr"/>
				<environmentVariable name="Email__Smtp__FromName" value="FirmaTakip"/>
				<environmentVariable name="ConnectionStrings__DefaultConnection" value="Server=.\MSSQLSERVER2022;Database=panelBahadir;User Id=panelBahadirUser;Password=xLwYcy%52Qb?nzz9;TrustServerCertificate=True;MultipleActiveResultSets=true"/>
			</environmentVariables>
		</aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: A0ABB96A-8C68-4191-A476-BE64A92BC90A-->